$wid = 200
// width

body
    background blue
    font-size  150%
    color      'red'
    width      $wid


p
    color black
    background-color orange


div
    color blue

p
    color orange


h1
    color blue


h2
    color rebeccapurple

h3
    color red




