$wid = 200
// width

body
    background purple
    font-size  150%
    color      'red'
    width      $wid


p
    color black
    background-color orange


div
    color blue

h1
    color blue

h2
    color rebeccapurple

h3
    color red


