body {
  background: #800080;
  font-size: 150%;
  color: 'red';
  width: 200;
}
p {
  color: #000;
  background-color: #ffa500;
}
div {
  color: #00f;
}
h1 {
  color: #00f;
}
h2 {
  color: #639;
}
h3 {
  color: #f00;
}
